
    body{
        margin:0px;
        background-color:blanchedalmond;
        font-style: italic;
        font-size: medium;
    }
    #About{
        margin-top: 10px;
        
    }
    .navbar-gradient {
        background-image: linear-gradient(to right, goldenrod, white);
     }
     h2{
        text-align: center;
        margin-top: 1.5rem;

    }
    section {
        padding-top: 70px;
        margin-top: -70px; 
      }
    .subheading{
        color:#E67E22;
        
    }
    .subheading hr{
      margin: auto;
      width: 150px;
      border: 1px solid #0f0e0e;
     
    }

    .about p{
        text-align: justify;
    }
    .about{
        background-color:#F5DEB3;
        color: #333333;
        border-radius: 15px;
        margin: auto;
        padding: 10px;
        width: 900px;
        height: auto;
        line-height: 2rem;
        box-sizing: border-box;
    }
    .about ul{
        line-height: 2rem;
    }
    .grid{
        display: grid;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto ;
        justify-content: space-around;
        border-radius: 15px;
        background-color:rgb(215, 190, 152) ;
        margin: auto;
        padding: 5px;
        max-width: 900px;
        width: 90%;
        
    }
    .skill h2{
        text-align: center;
    }
    #Skill .card {
        background-image: linear-gradient(#333333,#FAF9F6) ;
        width: 100%;
        max-width: 350px;
        height: 370px;
        border:#333333;
        margin: 10px;
        box-sizing: border-box;
    }
    .skill2 img{
        width: 288px;
        height: 150px;
    }
    .skill3 img{
        width: 288px;
        height: 150px;
    }
    .skill4 img{
        width: 288px;
        height: 150px;
    }
    .skill5 img{
        width: 288px;
        height: 150px;
    }
    .projects{
        background-color:#F5DEB3;
        color: #333333;
        border-radius: 15px;
        margin: auto;
        padding: 10px;
        max-width: 900px;
        width: 90%;
        margin-bottom: 1.5rem;
        box-shadow: -5px 0px 0px rgba(235, 167, 41, 0.868);
        box-sizing: border-box;
           
    }
    .overview h2, .project h2{
        text-align: center;
    }
    .technologies ul, .keyfeatures ul{
        line-height: 2rem;

    }
    .technologies , .keyfeatures{
        margin: 10px;
        color: #444444;
    }
    .form-control {
        background-color: blanchedalmond;  /* your background */
        border: 2px solid goldenrod;       /* custom border */
        color: #333;
      }
      #Contact .card{
        background-color: rgb(215, 190, 152);
        border: 2px solid goldenrod ;
        color: #333;
        margin: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 12px 5px goldenrod;
        max-width: 600px;
        width: 90%;
      }
      @media screen and (max-width: 900px) {
        .grid {
          grid-template-columns: repeat(2, 1fr);
        }
  
        .about,
        .projects {
          width: 95%;
          padding: 15px;
        }
      }
      @media screen and (max-width: 600px) {
        .about,
        .skill,
        .project,
        .contact {
          width: 95%;
          margin: 15px auto;
          padding: 15px;
          text-align: center;
        }
  
        .grid {
          grid-template-columns: 1fr; 
          gap:20px;
          padding-left:2.5em;
        }
  
        .skill .card {
          width: 100%;
          max-width: 350px;
          margin: 10px auto;
        }
  
        .projects {
          width: 95%;
          padding: 15px;
        }
  
        #Contact .card {
          width: 95%;
        }
      }
      footer {
        background-color:lightsalmon; 
        color: #e5e5e5;
        text-align: center;
        padding: 2rem 1rem;
        margin-top: 2rem;
    }
    
    .footer-content .credit {
        margin-top: 1.5rem;
        font-size: 0.9rem;
        color: #000204; 
    }
    .footer-content .copyright {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: #000000; 
    }
      
      
    
      
      
     
      
